
body{
  margin: 0;
  text-align: center;  /*center all the elements that is full width block or inline-block*/
  /*font-family: Arial, sans-serif;*/  /*font text: specific to unspecific, if you don't have the specific one, it goes to next*/
  font-family: 'Merriweather', serif;
  /*font-size: 16px;*/
}

h1{
  /*width: 10%;*/
  /*margin: 0 auto;*/  /*center elements with width
  top and bottom 0 , left and right auto*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;  /*100%px = 16px.  if we want 90px --> 90*100/16 = 562.5%. 1em = 100% = 16px*/
  /*font-size: 5.625em;*/
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}

hr{
  border: 0;
  border-top: 5px dotted #EAF6F6;
  width: 5%;
}

/*
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 5%;
}
*/

.top_container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle_container{

}

.bottom_container{

}
 .pro{
   text-decoration: underline;
 }

.bottom_cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-image-computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image-chili{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile{
  margin: 50px auto;
  width: 35%;
}
/*
.code-skill-description{
  clear: left;
}

.code-skill-description2{
  clear: right;
}
*/
