
body{
  margin: 0;
  text-align: center;  /*center all the elements that is full width block or inline-block*/
  /*font-family: Arial, sans-serif;*/  /*font text: specific to unspecific, if you don't have the specific one, it goes to next*/
  font-family: 'Merriweather', serif;
  /*font-size: 16px;*/
  color: #40514E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

h1{
  /*width: 10%;*/
  /*margin: 0 auto;*/  /*center elements with width
  top and bottom 0 , left and right auto*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;  /*100%px = 16px.  if we want 90px --> 90*100/16 = 562.5%. 1em = 100% = 16px*/
  /*font-size: 5.625em;*/
  color: #66BFBF;
  line-height: 2;
}

h1:hover{
  color: black;
  font-size: 2rem;
}

p{
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}


hr{
  border: 0;
  border-top: 6px dotted #EAF6F6;
  width: 4%;
  margin: 50px auto;
}

/*
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 5%;
}
*/

.top_container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle_container{
  margin: 50px 0;
}
.bottom_container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
 .pro{
   text-decoration: underline;
 }

.bottom_cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-image-computer{
  width: 150px;
  float: left;
  margin-right: 30px;
}

.skill-image-chili{
  width: 150px;
  float: right;
  margin-left: 30px;
}

.profile{
  margin: 50px auto;
}

.p-profile{
  color: #40514E;
  width: 30%;
  margin: auto;
}


.contact-me{
  width: 50%;
  margin: 50px auto;
}



.footer-link{
  color: #11999E;
  display: inline-block;
  margin: 10px 20px;
}

.p-final{
  color: #EAF6F6;
  font-size: 0.75rem;

}

/*
.code-skill-description{
  clear: left;
}

.code-skill-description2{
  clear: right;
}
*/

.BUTTON_HVD {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   font-family: 'Montserrat', sans-serif;
   color: white;
   font-size: 1rem;
   font-weight: 100;
   padding: 5px 20px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto;
}
